<div class="nav-placeholder"></div>
<div class="container">
  <div class="card">
    <%= link_to "solo", game_path %>
  </div>
  <div class="card">
    <%= link_to "multi", gamerooms_path %>
  </div>
  <%= link_to "Retour", root_path %>
</div>
