
.choiceContainer {
  gap: 10%;
}
.choiceContainer a:link {
  text-decoration: none;
}

.choiceContainer .choiceCard
{
    max-width: 300px;
    height: 95px;
    margin: 30px 10px;
    padding: 20px 15px;
    border: 10px;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
  }
// .choiceContainer .choiceCard:hover
// {
     // height: 350px;
// }
.choiceContainer .choiceCard .imgContainer
{
    position: relative;
    width:250px;
    height:96px;
    top:-40px;
    left:10px;
    border-radius: 8px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.choiceContainer .choiceCard .imgContainer img
{
    max-width: 100%;
    border-radius: 8px;

}

.choiceContainer .choiceCard p
{
    line-height: 1em;
    margin-bottom: 5px;
}

.choiceContainer .choiceCard .choiceContent
{
    position: relative;
    padding: 10px 15px;
    margin-top: -10px;
    text-align: left ;
    color:#111;
    pointer-events: none;
    transition: 0.3s ease-in-out;
}
.choiceContainer .choiceCard:hover .choiceContent
{
    visibility: visible;
    opacity: 1;
    margin-top: -20px;
    transition-delay: 0.3s;
}

@media (max-width: 330px){
    .choiceContainer .choiceCard .imgContainer{
        left: -2px;
    }
}

// *{
//   border: solid 1px red;
// }
