
*:after,
*:before {
	box-sizing: border-box;
}

#gallery {
  // background: linear-gradient(#F4D35E, #FF6F59);  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.form-control {
  background-color: white;
}





@keyframes auto-scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// ** ** // full gallery // ** ** //

#artworks-full-gallery-wrapper {
  display: grid;
  place-items: center;
  font-family:  'Google Sans', sans-serif, system-ui;
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;
  padding: 0px;
}

.columns {
  column-count: 5;
  margin: 0 5%;


}

// .artworks-full-gallery {

.artwork-card {

  display: flex;
  align-items: center;
  max-width: 18em;

  position: relative;
  // padding: 30% em;
  box-sizing: border-box;

  $border: 3.5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* ! */
  border: solid $border transparent; /* ! */
  // border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* ! */
    border-radius: inherit; /* ! */
    background: linear-gradient(to bottom, #775c3b, #967043,  #e99323);
    // background: linear-gradient(to bottom, #545588, #678fa9, #9edfce, #c0efc7);
    // background: linear-gradient(to bottom, #191919, #191919, #293133, #39545a);
    // box-shadow: 4px 3px 3px #775c3b;
  }
}

img {
  width: 100%;
  object-fit: cover;
  // border-radius: 10px;
}

.box14{position:relative}
.box14 a:link{text-decoration: none;}
.box15,.box17,.box18{box-shadow:0 0 5px #7e7d7d;text-align:center}
.box14:before{content:"";width:100%;height:100%;background:rgba(0,0,0,.5);position:absolute;top:0;left:0;opacity:0;transition:all .35s ease 0s}
.box14:hover:before{opacity:1}
.box14 img{width:100%;height:auto}
.box14 .box-content{overflow: hidden ;width:90%;height:90%;position:absolute;top:5%;left:5%}
.box14 .box-content:after,.box14 .box-content:before{content:"";position:absolute;top:0;left:0;bottom:0;right:0;opacity:0;transition:all .7s ease 0s}
.box14 .box-content:before{border-bottom:1px solid rgba(255,255,255,.5);border-top:1px solid rgba(255,255,255,.5);transform:scale(0,1);transform-origin:0 0 0}
.box14 .box-content:after{border-left:1px solid rgba(255,255,255,.5);border-right:1px solid rgba(255,255,255,.5);transform:scale(1,0);transform-origin:100% 0 0}
.box14:hover .box-content:after,.box14:hover .box-content:before{opacity:1;transform:scale(1);transition-delay:.15s}
.box14 .title{font-size:21px;font-weight:700;color:#fff;margin:15px 0;padding: 1px 3% ;opacity:0;transform:translate3d(0,-50px,0);transition:transform .5s ease 0s}
.box14:hover .title{opacity:1;transform:translate3d(0,0,0)}
.box14 .artist{font-size:14px;color:#fff;padding:10px;opacity:0;transform:translate3d(0,-50px,0);transition:all .7s ease 0s}
.box14 .icon,.box15 .icon{padding:0;list-style:none}
.box14:hover .artist{opacity:1;transform:translate3d(0,0,0);transition-delay:.15s}
.box14 .icon{width:100%;margin:0;position:absolute;bottom:-10px;left:0;opacity:0;z-index:1;transition:all .7s ease 0s}
.box14:hover .icon{bottom:20px;opacity:1;transition-delay:.15s}
.box14 .icon li a{display:block;width:40px;height:40px;line-height:40px;border:1px solid #fff;border-radius:0 16px;font-size:14px;color:#fff;margin-right:5px;transition:all .4s ease 0s}
.box14 .icon li a:hover{background:#d79719;border-color:#d79719}
@media only screen and (max-width:990px){.box14{margin-bottom:30px}
}

// *{
//   border: solid 1px red;
// }
