// Import page-specific CSS files here.
@import "home";
@import "components/parallax";
// @import "https://unpkg.com/normalize.css";

*,
*:after,
*:before {
	box-sizing: border-box;
}

#gallery {
  // background-image: url("index/gallerie-gris.avif");
  background: linear-gradient(#F4D35E, #FF6F59);  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.artworks-list-wrapper {
  display: block;
  overflow-x: hidden;

}

.artworks-list {
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  // grid-gap: 20px;
  display: flex;
  max-height: 600px;
  height: 600px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  animation: auto-scroll 60s linear infinite;
  // overflow-x: hidden;

}




@keyframes auto-scroll {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

// ** ** // full gallery // ** ** //

#artworks-full-gallery-wrapper {
  display: grid;
  place-items: center;
  font-family:  'Google Sans', sans-serif, system-ui;
  overflow-x: hidden;
  justify-content: center;
  min-height: 100vh;

}

.columns {
  column-count: 5;
  margin: 0 5%;


}

// .artworks-full-gallery {

  //   display: grid;
  // 	justify-content: center;
  // 	grid-template-columns: repeat(5, var(--card-width));
  // 	gap: 1rem;
  //   /* overflow: hidden shouldn't break this? */
  //   overflow: hidden;
  // }

.artwork-card {

  display: flex;
  align-items: center;
  max-width: 18em;

  position: relative;
  // padding: 30% em;
  box-sizing: border-box;

  $border: 3.5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* ! */
  border: solid $border transparent; /* ! */
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* ! */
    border-radius: inherit; /* ! */
    background: linear-gradient(to bottom, #775c3b, #967043,  #e99323);
    // background: linear-gradient(to bottom, #545588, #678fa9, #9edfce, #c0efc7);
    // background: linear-gradient(to bottom, #191919, #191919, #293133, #39545a);
    // box-shadow: 4px 3px 3px #775c3b;
  }
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
