<div class="columns pb-4 pt-4">
  <% if artworks.any? %>
    <% artworks.each do |artwork| %>
      <div class="artwork-card mb-4">
        <%# <%=link_to( image_tag image_url(artwork.image) ) "#{artwork.title}", artwork_path(artwork.id) %>
        <%= link_to(artwork_path(artwork.id)) do %>
          <%= image_tag image_url(artwork.image)%>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <em>Aucun résultats.</em>
  <% end %>
</div>
