<main id="gallery">
  <%# full-gallery %>
  <div class= "artworks-full-gallery-wrapper">
    <%# search-bar %>
    <div class="row col-12 justify-content-center">
      <div class="col-8 my-1">
        <hr class="my-4">
        <%= form_with url: artworks_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Rechercher un artiste ou une oeuvre"
            %>
          <%= submit_tag "rechercher", name: "", class: "button game-button"  %>
        <% end %>
        <hr class="my-4">
      </div>
    </div>

    <%# artworks %>
    <%= render "full_gallery", artworks: @artworks %>
  </div>
    <%# fillers %>
</main>
