<main id="gallery">
  <div class="d-grid">
    <div class="d-flex justify-content-center">
      <h1 class= " d-flex justify-content-center col-4 border-2 border-bottom pb-3 pt-2 mb-4 mt-3 fw-bold "><span class="fw-bold artvard-color" style="font-family: Alkatra;">Gal'&nbsp </span> révision</h1>
    </div>
    <div class="d-flex justify-content-center">
      <h4 class=" w-50 d-flex justify-content-center fst-italic mb-1">"Révise tes classiques, mais attention un fake s'y cache!"</h4>
    </div>
  <%# full-gallery %>
  <div class= "artworks-full-gallery-wrapper">
    <%# search-bar %>
    <div class="row col-12 mb-4 justify-content-center">
      <div class="col-8 my-1">
        <%# <hr class="my-4"> %>
        <%= form_with url: artworks_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Rechercher un artiste ou une oeuvre"
            %>
          <%= submit_tag "rechercher", name: "", class: "button game-button"  %>
        <% end %>
        <%# <hr class="my-4"> %>
      </div>
    </div>

    <%# artworks %>
    <%= render "full_gallery", artworks: @artworks %>
  </div>
    <%# fillers %>
  </div>
</main>
