<div class="artworks-list">
  <% artworks.each do |artwork| %>
    <div class="artwork-card">
        <%# <%=link_to(artwork_path(artwork.id)) "#{artwork.title}", artwork_path(artwork.id) %>
          <%= image_tag artwork.image%>
    </div>
  <% end %>
</div>
