<div class="game_container">
<p data-memory-target="timer"></p>
  <div class='flip-card-grid'>
    <% cards.each do |card| %>
      <div class="card disabled upsidedown" data-action="click->memory#flip" data-memory-target="card" data-id="<%= card[:id] %>">
        <% if card.keys.include?(:image) %>
            <%= image_tag image_url(card[:image]), class: "image-memory" %>
        <% else %>
            <p><%= card[:title] %></p>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class='centered-children space'>
    <button class="button game-button" data-action="click->memory#start">Start</button>
    <button class="button game-button" data-action="click->memory#restart">Restart</button>
  </div>
</div>
