<div class="container" data-controller="memory">
  <button class="button" data-action="click->memory#start">start</button>
  <button class="button" data-action="click->memory#restart">restart</button>
  <div class='flip-card-grid'>
    <% cards.each do |card| %>
      <div class="card disabled" data-action="click->memory#flip" data-memory-target="card" data-id="<%= card[:id] %>">
        <% if card.keys.include?(:image) %>
            <%= image_tag image_url(card[:image]), class: "image-memory" %>
        <% else %>
            <%= card[:title] %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
