<main>
  <div class="game-background" data-controller="solo">
    <%= render partial: 'memory_solo', locals: { cards: @cards } %>
  </div>
  <div>
  <%= link_to "Retour", choice_gamerooms_path %>
  </div>
</main>
