<div class="artworks-list-wrapper">
  <%= render "list", artworks: @sample %>
</div>
<main class="home">
  <%# arriere plan defillant %>
  <div class="banner">
    <div>

      <h1>Bienvenue à <strong><span class="artvard-color" style="font-family: Alkatra;">ARTVARD</span></strong></h1>
      <p>Ici, on te fait découvrir les peintures qui ont marqué l'Histoire de l'art. À travers notre galerie virtuelle, on te permet d'apprendre et de reconnaître toutes ces œuvres que la Pop-culture a copieusement détournées, et ça, on en met notre oreille à couper!</p>
    </div>
    <div class="grid_home">
      <%# galerie %>
      <%= link_to(artworks_path) do %>
        <article class="card">
          <div class="homelink galerie-homelink rounded">
            <h3 class="fw-bold" style="font-family: Alkatra;">Galerie</h3>
          </div>
        </article>
      <% end %>
      <%# jeu %>
      <%= link_to(choice_gamerooms_path) do %>
        <article class="card">
          <div class="homelink jeu-homelink rounded">
            <h3 class="fw-bold" style="font-family: Alkatra;">Jeu</h3>
          </div>
        </article>
      <% end %>

      <%# paint %>
      <%= link_to(paint_path) do %>
        <article class="card">
          <div class="homelink paint-homelink rounded">
            <h3 class="fw-bold" style="font-family: Alkatra;">Paint</h3>
          </div>
        </article>
      <% end %>
    </div>
  </div>
</main>
