.button {
  padding: 10px 22px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  border: none;
}

.button:active{
  box-shadow: none;
  position:relative;
  top: 5px;
}

button {
  border: none;
}

// button types

.galerie-button {
  background-color: #D39C4A;
  box-shadow: 0px 5px 0px 0px #835C20;
}

.galerie-button:hover {
  background-color: #DBAE6B;
  ;
}

.game-button {
  background-color: #5C4360;
  box-shadow: 0px 5px 0px 0px #3A2A3C;
}

.game-button:hover {
  background-color: #7F5C84;
}

.paint-button {
  background-color: #51A3A3;
  box-shadow: 0px 5px 0px 0px #295151;
}

.paint-button:hover {
  background-color: #6AB4B4;
}
