footer {
  height: 60px;
  background-color: #EDE9ED;
  width: 100%;
  color: #F6F3F6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  bottom: 0px;
}

footer p, footer h3 {
  color: #5C485D;
  line-height: 20px;
}
