* {
  padding: 0px;
  margin: 0px;
  // border: 1px solid red;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: #F6F3F6;
}

.arvard-text{
  width: 150px;
}

.our_container {
  margin: auto 20%;
}

.space {
  padding: 20px;
}

.flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.centered-children{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-placeholder{
  padding: 50px;
}
