.grid_home {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 320px;
  gap: 20px;
}

 

.grid_home a:link {
  text-decoration: none;
}

.grid_home h3 {
  color: antiquewhite;

}
