// Your font imports
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Marcellus&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Heebo', sans-serif;
  color: #0A131F;
}
p {
  font-family: 'Marcellus', serif;
  color: black;
  color: #0A131F;
}
